  @charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	}
body{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:small;
	background-image:url(products/4236513-background-images.jpg);
	}
#wrapper{
	width:1000px;
	margin:auto;
	background-color:#FFF;}
#top{
	width:950px;
	height:50px;
	background:#CCC;
	margin:auto;
    border-radius: 0px 0px 5px 5px;
    }
#top-left{
	float:left;}		
#top-left ul{
	list-style:none;
	padding-top:10px;
	padding-left:20px;
		}
#top-left ul li{
	float:left;
	margin-left:10px;
	
	
	}	
#top-right{
	float:right;
	position:relative;
    width: 263px;}	
#top-right img{
    float: right;
    padding-right: 20px;
    margin-top: -10px;
} 
#top-right img:hover{
    width:40px;
    height: 40px;
}   
#top-right ul{
	list-style:none;
	padding-top:15px;
	padding-right:20px;
	
	
	}	
#top-right ul li{
	float:left;
	margin-right:10px;
	color:#666;
	margin-top: -15px;}
#top-right ul li a{
	text-decoration:none;
	color:#666;
	}	
#top-right ul li a:hover{
	color:#F00;}	
#logo{
	width:950px;
	height:130px;}
#logo-left{
	float:left;
	padding-top:20px;
	padding-left:80px;}	
#logo-right2{
	width:220px;
	height:30px;
	float:right;
	margin-top:65px;
	margin-right:-200px;
	border:1px solid #FFF;
	padding:1px;
	position:relative;
	border-radius:10px;
	}
#shopcart{
    width: 150px;
    height: 50px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    position: relative;
}
#text_cart{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 11px;
    left: 96px;
}	    	
#bottom-search{
	position:absolute;
	height:31px;
	width:34px;
	right: 24px;
    top: 6px;
	border:20px;
	background-image:url(products/button.png);
	background-repeat:no-repeat;
	border-radius:0px 10px 10px 0px ;
	cursor:pointer;
    text-indent:-999px;
    }
#text-form{
	border-radius:10px 0px 0px 10px ;
	height:31px;
	border:0px;
	background-color:#F7F7F7;
	text-align:center;}	
#timkiem{
	float:left;
	width:130px;
	margin-left:20px;
	margin-top:5px;
	
	}
#logotimkiem{
	float:left;
	padding-left:20px;
		}
#logotimkiem img{
	height:25px;
	width:25px;
	border:1px solid #FFF;
	padding:1px;}				
#logo-right3{
	float:right;
	padding-right:50px;
	padding-top:80px;
	color:#999;
	}	
#anh{
	float:left;
	margin-top:-8px;}	
#menu{
	margin:auto;
	width:950px;
	height:50px;
	background-image:url(products/2.PNG);
	border-radius:30px}	
#menu>ul {
	list-style:none;
	}
#menu>ul>li{
	float:left;
	position:relative;
	}	
#menu>ul>li>a{
    color: #fff;
    float: left;
    font-size: 15px;
    line-height: 10px;
    padding-bottom: 22px;
    padding-left: 30px;
    padding-top: 20px;
    text-decoration: none;
	}
#menu ul>li>a:hover{
	color:#F00;}	
#menu ul li img{
	margin-top:-13px;}
.submenu{
	display:none;
	width:400px;
	background-image:url(products/1.PNG);
	position:absolute;
	height:300px;
	top:50px;
	left:40px;
	border-radius:12px;
	
	}
.anhmenu{
	width:210px;
	height:282px;
	float:left;
	margin-top: 21px;}
.anhmenu img {
	border:1px solid #FFF;
	padding:3px;}	
.danhsach{
	width:185px;
	height:200px;
	float:left;
	margin-left:4px;
	margin-top:43px;
	}
.danhsach ul{
	list-style:none;
	}	
.danhsach ul li{
	padding-bottom:8px;
	padding-top:13px;}	
.danhsach ul li a{
	font-size:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	padding-left:30px;
	color:#FFF;
	}	
.danhsach ul li:hover{
	background-color:#FC0;
	border:1px solid #FFF;}			
#menu ul li:hover .submenu{
	display:block;}			
#content{
	width:1000px;
	height:auto;
    float: left;
    background-color: white;
    margin-top: -2px;
	}
 #left{
    width:240px;
	height:650px;
    float: left;
}   
#lg_lh{
    width: 200px;
    height: 45px;
    background-color: #640F6C;
    background-image: url('products/hotro.png');
    background-repeat: no-repeat;
    background-position: 1px 1px;
    float: left;
    margin-top:20px;
    margin-left: 31px;
    
} 	
#lg_lh p{
    float: right; 
    line-height: 45px;
    margin-right: 20px; 
    text-transform: uppercase; 
    font-size: 15px; 
    color: white;
    font-weight: bold;
}
#lh_1 img{
margin-left: 31px;
    margin-top: 5px;
}   	
#content-left{
	width:200px;
	height:400px;
	text-align:center;
	border:1px solid #999;
	margin-left:30px;
	margin-top:60px;
	float:left;}
#content-left ul{
	list-style:none;
	margin-top:10px;
	}		
#content-left ul li{
	margin-top:20px;
	text-align:justify;
	margin-left:50px;}
#content-left ul li a{
	color:#F30;
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;}	
#content-left ul li a:hover{
	color:#00F;}		
#content-center{
	width:500px;
	height:auto;
	float:left;}
#quangcao{
	float:left;
	margin-bottom:20px;
	margin-left:26px;
	margin-top:20px;
	}
.sanpham ul{
	list-style:none;
    float: left;
	}	
.sanpham ul li{
	float:left;
	margin-left:36px;
	margin-top:8px;
	margin-bottom:8px;
	}	
.sanpham ul li a{
	text-decoration:none;}
.sanpham img {
    border-radius:5px;
}	
#content-right{
	width:200px;
	float:right;
	margin-right:30px;
	margin-top:55px;
	
	}
.img1{
    margin-bottom: 20px;
    margin-left:25px;
}    
#footer{
	width:1000px;
	height:200px;
	background-color:#CCC;
	float:left}
.bottom{
	width:230px;
	height:200px;
	float:left;
	
	}	
.bottom ul {
	list-style:none;
	margin-left:50px;
	margin-top:30px;}
.bottom ul li{
	margin-top:5px;}	
.bottom ul li a{
	text-decoration:none;
	margin-top:2px;
	color:#666;}
#footer-right{
	width:310px;
	height:200px;
	}
#footer-right ul{
	margin-left:30px;}	
#thuonghieu{
	width:1000px;
	height:40px;
	float:left
	}	
#thuonghieu ul{
	list-style:none;
	}
#thuonghieu ul li{
	float:left;
	margin-left:100px;
	line-height:40px;
	}	
#thuonghieu ul li a{
	border:1px solid #666;
	background-color:#FF0;
	text-decoration:none;}
#thuonghieu ul li a:hover{
	background-color:#0F0;}	
#login{
   margin: auto;
   width:1000px;
   height:200px;   
}    		
#form{
    width: 334px;
    margin: auto;
    margin-left: 391px;
}	
#form input{
    width: 250px;
}
#bang{
    margin-top:50px;
    width: 450px;
}
#hang1{
    background-color:aqua;
    height:25px;
    text-align:center;
   
}
.hang input{
    height: 25px;
}
#hang2{
    text-align: center;
}
#content2{
		width:400px;
		height:500px;
        margin: auto;
}		
#form2{
	width:420px;
	height:550px;
	margin:auto;
	background-color:#0FF;
	text-align:center;
	}
#form2-2{
    width:420px;
    height:70%;
    padding-top:120px;
} 
#form2-2 input{
     margin-top: 5px;
}
#form2-2 select {
    padding: 5px;
}
#mail, #pass, #mail2,#p1,#p2{
	width:293px;
    height: 25px;
}

    
			
		